* {
    scroll-behavior: smooth;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    /*padding khoi navbar*/
    padding-top: 58.23px;
}

/*font danh cho 1 vai cho can chu dep*/
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.luxury-font {
    font-family: 'Lora', serif;
}

.text-justify {
    text-align: justify;
}

.scroll-to-top {
    z-index: 10;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

nav {
    transition: all 0.5s ease-in-out;
}

.search-form {
    margin-right: calc(var(--bs-gutter-x) * 0.5);
}

video {
    transition: all 0.3s ease-in-out;
}

.expand {
    overflow: hidden;
    transition: all 300ms ease-in-out;
    padding-left: 1rem;
}

.expand-icon {
    transition: all 300ms ease-in-out;
}

.h-pointer {
    cursor: pointer;
}

.product-item {
    border: 1px solid white;
    transition: all 300ms ease-in-out;
}

.product-item:hover {
    background-color: whitesmoke;
}

.product-item img {
    transition: all 300ms ease-in-out;
}

.product-item img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}

.product-item-btn {
    transition: all 200ms ease-in-out;
}

.product-item-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*WIDTH*/
.w-10 {
    width: 10% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

/*HEIGHT*/
.h-10 {
    height: 10% !important;
}

.h-20 {
    height: 20% !important;
}

.h-30 {
    height: 30% !important;
}

.h-40 {
    height: 40% !important;
}

.h-60 {
    height: 60% !important;
}

.h-70 {
    height: 70% !important;
}

.h-80 {
    height: 80% !important;
}

.h-90 {
    height: 90% !important;
}

.cards{
    width: 288px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-bodies{
    width: 100%;
    height: 75%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    transition: 1s;
}

.cards:hover .card-bodies{
    right: 0;
}

.navbar-dark .navbar-nav a.nav-link {
    color: #ffffff;
    font-size: 1.1em;
}
.dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 0;
    padding: 0.7em;
}
@media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
    .dropdown-menu.show {
        display: flex;
    }
}
.dropdown-menu ul {
    list-style: none;
    padding: 0;
}
.dropdown-menu li .dropdown-item {
    color: gray;
    font-size: 1em;
    padding: 0.5em 1em;
}
.dropdown-menu li .dropdown-item:hover {
    background-color: #f1f1f1;
}
.dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #0a0e14;
}
.dropdown-menu li:first-child a:hover {
    background-color: #f1f1f1;
}
@media only screen and (max-width: 992px) {
    .dropdown-menu.show {
        flex-wrap: wrap;
        max-height: 350px;
        overflow-y: scroll;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1140px) {
    .dropdown:hover .dropdown-menu {
        width: 40vw;
        flex-wrap: wrap;
    }
}

/*==MOVIE PAGE START ==================*/
.movie-banner{
    width: 90%;
    max-width: 1400px;
    margin: 10px auto;
    min-height: 520px;
    padding: 60px 40px 40px 40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.movie-banner::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(32,32,32,0.7);
    background: linear-gradient(0deg, rgb(8,8,8) 0%, rgba(0,0,0,0.6));
}

.m-banner-img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.m-banner-img::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(32,32,32,0.7);
    background: linear-gradient(-90deg, rgba(37,37,37,0.2) 0%, rgba(15,15,15,0.3) 100%);
}

.m-banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner-container{
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: relative;
}

.title-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-title h1{
    color: #ffffff;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 50px;
    letter-spacing: 1px;
}

.more-about-movie{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    color: #e9e9e9;
}

.more-about-movie .quality{
    background-color: #e70634;
    font-weight: 600;
    color: #080808;
    padding: 0px 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.language{
    margin-top: 20px;
}

.language span{
    background-color: #dfdfdf0e;
    padding: 5px 10px;
    margin-right: 10px;
    color: #dfdfdf;
    font-size: 0.8rem;
}

.title-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.title-bottom .category{
    margin-right: 40px;
    font-size: 0.8rem;
    color: #dadada;
}

.title-bottom .category strong{
    font-weight: 500;
    color: #d8d8d8;
    display: block;
}

.title-bottom .category a{
    color: #e70634;
    margin: 0px 8px;
}

.watch-btn{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff09;
    border: 1px solid #ffffff2c;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}

.watch-btn:hover{
    background-color: #e70634;
    transition: all ease 0.3s;
}

.play-btn{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #dadada48;
    z-index: 3;
    background-color: rgba(255,0,0,0.185);
    position: relative;
}

.play-btn a{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.play-btn a:hover{
    background-color: #e70634;
    transition: all ease 0.3s;
}

.play-btn i{
    color: #ffffff;
}

.play-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

.play-btn::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 180%;
    height: 180%;
    border: 1px solid #ffffff26;
    background-color: #ffffff18;
    z-index: -1;
}

#play{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(15,15,15,0.7);
    z-index: 108;
    display: none;
}

.play-movie{
    width: 80%;
}

.play-movie iframe{
    width: 100%;
    height: 80%;
    object-position: center;
    object-fit: cover;
}

.close-movie{
    position: fixed;
    right: 60px;
    top: 100px;
    font-size: 2rem;
    color: #e70634;
    transition: all ease 0.3s;
}

.close-movie:hover{
    opacity: 0.6;
    transition: all ease 0.3s;
}

.active-popup{
    display: flex !important;
}
/*==MOVIE PAGE END ==================*/




/*==MOVIE LOGIN START ==================*/
.login-boX {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 550px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #00001c;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-boX h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-boX .user-box {
    position: relative;
}

.login-boX .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-boX .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding-top: 10px ;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-boX .user-box input:focus ~ label,
.login-boX .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-boX form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px
}

.login-boX button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-boX button span {
    position: absolute;
    display: block;
}

.login-boX button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-boX button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-boX button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #e70634);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-boX button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e70634);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
/*==MOVIE LOGIN END ==================*/

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 2rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
}

.progress {
    background-color: rgb(11,78,179);
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: rgb(11,78,179);
    color: #f3f3f3;
}

.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.btns {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: rgb(11,78,179);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
}
.btns:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgb(11,78,179);
}

#vertical-scroller {
    position: absolute;
    top: 23%;
    width: 61%;
    height: 65%;
    overflow-x: hidden;
}
